@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    gap: 2rem;
    padding: 8px;
  }
  
  .logo {
    font-weight: bold;
    font-size: 55px;
    letter-spacing: 5px;
    font-family: 'Raleway' ;
    font-style: italic;
    margin-left: 80px;
}
.logo a {
    text-decoration: none;
    color: #FFE67C;
    
  }