.prepaid
{
    height: 100vh;
    background-image: url('../../assets/home.jpg');
    background-size: cover;
    background-position: center;
    font-family: 'Raleway', sans-serif;
    color: white;
    position: relative;
    
}
  
  .glasscp {
    position: absolute;
    top: -30px;
    left: -60px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 80px;
  }
  
  .prepaid-glass {
    text-decoration: none;
    width: 300px;
    height: 65px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    color: white;
    display: flex;
    align-items: center;
    font-size: 20px;
    transition: background-color 0.8s ease;
    transition: transform 0.7s ease;
    text-align: center;
  }
  .prepaid-glass:hover {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    transform: scale(1.1);
  }
  
  .addons-glass {
    width: 300px;
    height: 65px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    color: white;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s ease;
    text-decoration: none;
    transition: background-color 0.8s ease;
    transition: transform 0.7s ease;
  }
 
  .addons-glass:hover {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    transform: scale(1.1);
  }
  
  .glasscp h3 {
    margin: 35px;
    
  }
  .preplan-details {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    position: absolute;
    top: 5%;
    left: 25%;
    width: 70%; 
    z-index: 1;
  }
  
  .preplan-details .preplan-glass {
    width:300px;
    height: 250px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.06);
    backdrop-filter: blur(20px);
    padding: 20px;
    transition: background-color 0.8s ease;
    transition: transform 0.7s ease;
  }
  .preplan-glass:hover {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    transform: scale(1.1);
  }
 
.plan-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 25px;
  
}
.plan-header h1{
  background: radial-gradient(circle at -1% 57.5%, rgb(124, 255, 235) 0%, rgb(0, 102, 100) 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.plan-details {
  display: flex;
  flex-direction: column;
}

.plan-details p {
  margin-bottom: 15px;
}

.preplan-glass {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.content {
  display: flex;
  margin: 25px;
}
.content span {
  margin-right:40px;
  background: radial-gradient(circle at -1% 57.5%, rgb(101, 255, 165) 0%, rgb(0, 255, 106) 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.content p{
  margin-right:40px;
  font-size: 28px;
  color: white;
}
.ab{
  font-size: 20px;
  width: 300px;
  padding-top: 0px;
  padding-left: 10px;
}
.delete-button {
  background-color: transparent;
  color: #d63031;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  padding: 3px 8px;
  font-size: 14px;
}

.delete-button:hover {
  background-color: #d63031;
  color: aliceblue;
}